<div class="container">
    <div class="form-insertar">
      <h1>{{edicion ? "Editar Solicitud" : "Añadir Solicitud"}} </h1>

      <mat-form-field>
        <mat-label>Seleccione Usuario</mat-label>
        <mat-select [(value)]="idUsuarioSeleccionado" required>
            <mat-option *ngFor="let u of listaUsuarios" [value]="u.id">
                {{u.nombre + " " + u.apellido }}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Descripcion de la solicitud</mat-label>
        <input type="text" matInput required placeholder="text" [(ngModel)]="soli.descripcion"/>
      </mat-form-field>

      <br />
      <mat-form-field appearance="fill">
        <mat-label>Fecha de la solicitud</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada" [max]="maxFecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br />

      <br />

      <mat-form-field>
        <mat-label>Seleccione la ubicacion</mat-label>
        <mat-select [(value)]="idUbicacionSeleccionado" required>
            <mat-option *ngFor="let u of listaUbicaciones" [value]="u.id">
                {{u.direccion+", "+u.distrito}}
            </mat-option>
        </mat-select>
      </mat-form-field>


      <div class="form-controls">
        <button mat-raised-button id="button-action" color="primary" (click)="aceptar()">
          Aceptar
        </button>
        <button mat-raised-button id="button-action" color="warn" routerLink="/Solicitudes">
          Cancelar
        </button>
      </div>
      <p>{{ mensaje }}</p>
    </div>
  </div>

