<div class="container">
  <div class="example-form-fields">
    <h1>{{ edicion ? "Editar usuario" : "Añadir usuario" }}</h1>

    <mat-form-field hintLabel="Max 10 characters" appearance="fill">
      <mat-label>Nombres</mat-label>
      <input
        
        matInput
        required
        placeholder="Name"
        type="text"
        [(ngModel)]="user.nombre"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input
        
        type="text"
        matInput
        required
        placeholder="text"
        [(ngModel)]="user.apellido"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        
        type="text"
        matInput
        [minLength]="5"
        [maxLength]="40"
        required
        placeholder="text"
        pattern="[A-Za-z0-9._%-]+@[A-Za-z0-9._%-]+\\.[a-z]{2,3}"
        [(ngModel)]="user.email"
      />
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input
        
        type="text"
        [maxLength]="9"
        matInput
        required
        placeholder="Número de celular"
        [(ngModel)]="user.telefono"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input
        
        type="text"
        matInput
        required
        [maxLength]="8"
        [minlength]="8"
        placeholder="Documento de Identifacion"
        [(ngModel)]="user.dni"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Seleccione Historial</mat-label>
      <mat-select [(value)]="_idHistorialSeleccionado" required>
        <mat-option *ngFor="let p of listaHistorial" [value]="p.id">
          {{ p.busquedas }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Seleccione Ubicacion</mat-label>
      <mat-select [(value)]="_idUbicacionSeleccionado" required>
        <mat-option *ngFor="let p of listaUbicaciones" [value]="p.id">
          {{ p.distrito + " / " + p.direccion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <section>
      <mat-checkbox class="example-margin" [(ngModel)]="user.esReciclador"
        >Reciclador</mat-checkbox
      >
    </section>

    <div class="form-controls">
      <button
        mat-raised-button
        id="button-action"
        color="primary"
        (click)="aceptarModInsUsuario()"
      >
        Aceptar
      </button>
      <button
        mat-raised-button
        id="button-action"
        color="warn"
        routerLink="/Recicladores"
      >
        Cancelar
      </button>
    </div>
    <h3 *ngIf="mensaje" style="color: red">{{ mensaje }}</h3>
  </div>
</div>
