<div class="container">
  <div class="form-insertar">
    <h1>Insertar ubicaciones</h1>

    <mat-form-field id="_id">
      <mat-label>Id</mat-label>
      <input
        matInput
        placeholder="Id"
        type="number"
        [(ngModel)]="ubication.id"
      />
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Distrito</mat-label>
      <input
        matInput
        required
        placeholder="Name"
        type="text"
        [(ngModel)]="ubication.Distrito"
      />
    </mat-form-field>

    <br />
    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <input
        type="Description"
        matInput
        required
        placeholder="text"
        [(ngModel)]="ubication.Direccion"
      />
    </mat-form-field>

    <div class="form-controls">
      <button mat-raised-button id="button-action" color="primary" (click)="aceptarUbication()">
        Aceptar
      </button>
      <button mat-raised-button id="button-action" color="warn" routerLink="/ListarUbicacion">
        Cancelar
      </button>
    </div>
    <p>{{ mensaje }}</p>
  </div>
</div>
