

  <div class="container " >

    <table id="tabla-listarProductos" mat-table [dataSource]="DataSource" class="mat-elevation-z8 ">
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nameType">
          <th mat-header-cell *matHeaderCellDef> nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
    </table>

    <div id="add" class="example-button-container">

      <button  mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
        routerLink="/InsertarTipoDeProductos">
        <mat-icon  >add</mat-icon>
      </button>
    </div>

  </div>
