/* You can add global styles to this file, and also import other style files */

:root {
  --bkg-color: #fff;
  --bkg-color-dark-mode: #161616;
  --font-color: #000000;
  --font-color-dark-mode: #ffffff;
}

*,
:after,
:before {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 35px;
  padding: 35px;
}

mat-sidenav-content {
  background-color: var(--bkg-color);
  color: var(--font-color)
}

.dark-theme {
  background-color: var(--bkg-color-dark-mode);
  color: var(--font-color-dark-mode)
}
