/* You can add global styles to this file, and also import other style files */

:root {
  /* Normal mode */
  --bkg-color: #fff;
  --font-color: #000000;
  /* Dark mode */
  --bkg-sidenav-color-dark-mode: #2E3233;
  --bkg-color-dark-mode: #1C1C1C;
  --font-color-dark-mode: #ffffff;
}

*,
:after,
:before {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin-left: 50px;
  padding-top: 50px;
}


.mat-sidenav-content {
  background-color: var(--bkg-color);
  color: var(--font-color)
}

.mat-sidenav-content.dark-theme {
  background-color: var(--bkg-color-dark-mode);
  color: var(--font-color-dark-mode)
}

.mat-sidenav.dark-theme {
  background-color: var(--bkg-sidenav-color-dark-mode) !important;
  color: var(--font-color-dark-mode) !important
}

.mat-sidenav.dark-theme .mat-list-base .mat-list-item {
  color: var(--font-color-dark-mode) !important
}

h2.title{
  margin-left: 18px;
  font-size: 28px;

  letter-spacing: 2px;
}


a.a-direccion {
  text-decoration: none;
  color: #4b5aaf;
}

a.a-direccion:hover {
  color: #e0b731;
}


#tabla-usuarios {
  padding: 20px;
  margin: 20px;
  width: 80%;
  font-size: 20px;
  text-align: center
}

#tabla-usuarios th {
  text-align: center !important;
}

#tabla-usuarios .mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

#tabla-usuarios .mat-column-nombre {
  padding-left: 6px;
}


#tabla-usuarios .mat-column-telefono {
  width: 40px;
  text-align: center;
  font-weight: bold;
}

#tabla-usuarios .mat-column-email {
  width: auto;
  text-align: center;
  font-weight: bold;
}

#tabla-usuarios .mat-column-dni {
  width: auto;
  text-align: center;
  font-weight: bold;
}



