<div class="container">
    <h1> Cantidad de solicitudes por distritos </h1>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- Position Column -->
        <ng-container matColumnDef="distrito">
            <th mat-header-cell *matHeaderCellDef> distrito </th>
            <td mat-cell *matCellDef="let element"> {{element.distrito}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>
    </div>