<router-outlet></router-outlet>

<div [hidden]="route.children.length !== 0">
  <div class="container">
    <h2 class="title">Lista de recicladores</h2>
    <table
      id="tabla-listarProductos"
      mat-table
      [dataSource]="DataSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nameType">
        <th mat-header-cell *matHeaderCellDef>nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.Description }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="['editar', element?.id]"
          >
            Actualizar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: DisplayedColumns"></tr>
    </table>

    <div id="add" class="example-button-container">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a plus one icon"
        routerLink="/ListarTipoProductos/insertar"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
