<div class="container">
  <h1>Bienvenido al panel de administrador.</h1>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>TP C.R.U.D</mat-card-title>
      <mat-card-subtitle>Arquitectura de tecnologias web</mat-card-subtitle>
      <img style="filter: grayscale(100%);" mat-card-xl-image src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png">
    </mat-card-title-group>
    <mat-card-content>
      <p style="font-weight:500">Grupo conformado por:</p>
      <ul>
        <li>Sebastian De la Torre 🔥</li>
        <li>Brian Nuñez 🌐</li>
        <li>Giancarlo Milon ⌨️</li>
        <li>Diego Cuadros 💻</li>
      </ul>

    </mat-card-content>

  </mat-card>
</div>
