<div class="container">
    <h1>Bienvenido al panel de administrador.</h1>
    <mat-card>
        <mat-card-title>Trabajo parcial (CRUD)</mat-card-title>
        <mat-card-subtitle>Arquitectura de tecnologias web</mat-card-subtitle>
        <mat-card-content>
          <p style="font-weight:500">Grupo conformado por:</p>
          <p>Sebastian De la Torre</p>
          <p>Brian Nuñez</p>
          <p>Giancarlo Milon</p>
          <p>Diego Cuadros</p>
        </mat-card-content>

      </mat-card>
</div>

