#tabla-listarRewardsUsers {
    padding: 20px;
    margin: 20px;
    width: 90%;
    font-size: 20px;
    text-align: center;
  }

  #tabla-listarRewardsUsers th {
    text-align: center !important;
  }
