.login-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    width: 75%;
    margin: 10px auto;
  }

  
mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

mat-form-field {
    display: block;
}