
<div class="container history_form">
  <h2 class="title">Historial de busquedas </h2>
    <mat-form-field  class="search" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Jhon Doe" type="text"  (keyup)="buscarHistorial($event)" />
    </mat-form-field><br>
    <!-- -->
    <h3 *ngIf="nombresEncontrados">Usuario: <strong>{{nombresEncontrados}}</strong></h3>
    <pre style="color: red" >{{error}}</pre>
    
</div>

<div *ngIf="_find" class="container history_form">
  
  <table id="tabla-listarHistorial" mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="contenido">
        <th mat-header-cell *matHeaderCellDef> Contenido </th>
        <td mat-cell *matCellDef="let element"> {{element.historial.busquedas}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
