
#tabla-listarRecicladores {
    padding: 20px;
    margin: 20px;
    width: 80%;
    font-size: 20px;
    text-align: center
}

#tabla-listarRecicladores th {
    text-align: center !important;
}

#tabla-listarRecicladores .mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

#tabla-listarRecicladores .mat-column-nombre {
    padding-left: 6px;
}

#tabla-listarRecicladores .mat-column-apellido {
    font-style: italic;
}

#tabla-listarRecicladores .mat-column-telefono {
    width: 40px;
    text-align: center;
    font-weight: bold;
}

#tabla-listarRecicladores .mat-column-email {
    width: auto;
    text-align: center;
    font-weight: bold;
}

#tabla-listarRecicladores .mat-column-dni {
    width: auto;
    text-align: center;
    font-weight: bold;
}

h2 {
    padding: 30px;
    margin: 10px;
}

.btn-eliminar, .btn-editar{
  width: 30px !important;
  height: 30px !important;
  min-width: unset!important;
}

.btn-editar {
  width: 40px !important;
}

.btn-eliminar mat-icon, .btn-editar mat-icon {
  font-size: 20px !important;
  vertical-align: text-bottom;
}

.btn-editar mat-icon {
  margin-left: -7px !important;
  margin-top: 4px;

}
